---
import { Image } from 'astro:assets';

import SpeakerShape2 from '@/images/shape/speaker_shape2.png';
import RodrigoTome from '@/images/speaker/rodrigo-tome.jpg';
import DiegoCristobalHerreros from '@/images/speaker/diego-cristobal-herreros.jpg';
import AdrianBarrioAndres from '@/images/speaker/adrian-barrio-andres.jpg';
import MarioEzquerro from '@/images/speaker/mario-ezquerro.jpg';
import JorgePerez from '@/images/speaker/jorge-perez.jpg';
---

<!-- Speaker Start -->
<div id="speakers" class="speaker-section-2 section-padding-07 purple-bg-2">
  <Image src={SpeakerShape2} alt="shape" class="speaker-bg-shape" />
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-wrap">
          <div class="section-title text-center">
            <h5 class="sub-title orange">Speakers</h5>
            <h2 class="title white">Expertos invitados</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-md-4 col-sm-6 speaker-col">
        <a
          class="speaker-link"
          href="https://www.linkedin.com/in/rodrigotomees/"
          target="_blank"
        >
          <div class="single-speaker">
            <div class="speaker-thumb">
              <Image src={RodrigoTome} alt="Rodrigo Tomé" class="img-fluid" />
            </div>
            <div class="speaker-content text-start">
              <h4>Rodrigo Tomé</h4>
              <span>Frontend Lead, Globant</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 speaker-col">
        <a
          class="speaker-link"
          href="https://www.linkedin.com/in/diego-cristobal-herreros-60886a80/"
          target="_blank"
        >
          <div class="single-speaker">
            <div class="speaker-thumb">
              <Image
                src={DiegoCristobalHerreros}
                alt="Diego Cristobal Herreros"
                class="img-fluid"
              />
            </div>
            <div class="speaker-content text-start">
              <h4>Diego Cristobal</h4>
              <span>Senior SRE, Oracle</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 speaker-col">
        <a
          class="speaker-link"
          href="https://www.linkedin.com/in/adrianbarrio/"
          target="_blank"
        >
          <div class="single-speaker">
            <div class="speaker-thumb">
              <Image
                src={AdrianBarrioAndres}
                alt="Adrian Barrio Andres"
                class="img-fluid"
              />
            </div>
            <div class="speaker-content text-start">
              <h4>Adrian Barrio</h4>
              <span>Engineering Manager, Globant</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 speaker-col">
        <a
          class="speaker-link"
          href="https://www.linkedin.com/in/mario-ezquerro-s%C3%A1enz-a239b270/"
          target="_blank"
        >
          <div class="single-speaker">
            <div class="speaker-thumb">
              <Image
                src={MarioEzquerro}
                alt="Mario Ezquerro Sáenz"
                class="img-fluid"
              />
            </div>
            <div class="speaker-content text-start">
              <h4>Mario Ezquerro</h4>
              <span>Senior Unix System Administrator, Bosonit</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 speaker-col">
        <a
          class="speaker-link"
          href="https://www.linkedin.com/in/jorge-p-275960300/"
          target="_blank"
        >
          <div class="single-speaker">
            <div class="speaker-thumb">
              <Image src={JorgePerez} alt="Jorge Perez" class="img-fluid" />
            </div>
            <div class="speaker-content text-start">
              <h4>Jorge Perez</h4>
              <span>Kubernetes Engineer, Bosonit</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Speaker End -->
