---
import 'bootstrap/dist/css/bootstrap.css';
import 'aos/dist/aos.css';
import '@/styles/global.css';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:site_name" content="KubeFest" />
    <meta property="og:image" content={`${Astro.url.origin}/social.png`} />
    <meta property="og:image:width" content="1080" />
    <meta property="og:image:height" content="1080" />
    <meta property="og:image:type" content="image/png" />
    <title>{title}</title>
    <script
      type="text/partytown"
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=G-PNDDQK785Q"></script>
    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-PNDDQK785Q', {
        'edition_year': '2025'
      });
    </script>
  </head>
  <body>
    <slot />
    <script>
      import AOS from 'aos';
      AOS.init({
        duration: 1200,
        once: true
      });
    </script>
  </body>
</html>
